 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

}

.hero-unit {
  margin: 10px auto 0 auto;
  width: 850px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;

  border-radius: 6px;
  padding: 60px;
  nav{

    text-align: center;
    a{
      color: black;
    }
  }
  h1 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
  }
  a{

    font-weight: bold;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  input{
    width: 300px;
    text-align: center;
    margin-left: 200px;
    margin-top: 10px;
  }
  button{
    margin-left: 200px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    &:hover{
      background-color: #eee;
    }
  }
}

.ng-scope li{
  list-style-type: none;
  width: 300px;
  display: inline-block;
  margin: 10px;
  height: 250px;
  position: relative;
  box-shadow:  6px 6px 28px 0px rgba(50, 50, 50, 0.75);
  background-color: black;
  &:hover{
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
  a{

    color: white;
  }
  p{
    padding: 10px;
    background-color: black;
    width: 300px;
    opacity: .7;
    margin-top: -58px;
    position: absolute;
    &:hover{
      opacity: .9;
    }
  }

  }
.photo{
  width: 300px;
  height: 250px;
}
.editer{
 height: 50px;
 width: 50px;
 position: absolute;
 margin-top: -260px;
 margin-left: 250px;
 color: #eee;
 opacity: 0.7;
 text-decoration: none;
 &:hover{
   opacity: .9;
 }
}
